<section id="news" class="section-news">
  <div class="container">
    <div class="row">
      <div class="news__heading col-4">
        <h2 class="section__title">Nami</h2>
        <h3 class="section__subtitle">bądź z</h3>
      </div>
      <div class="news__container col-8">
        <div class="news__box">
          <div class="news__box--one">
           <span>Wydarzenia</span>
          </div>
        </div>
        <div class="news__box ">
          <div class="news__box--two">
            <span>Social Medial</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>