<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <% if (htmlWebpackPlugin.options.description) { %>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script: 400|Montserrat: 400|Playfair+Display: 400|Raleway: 400" rel="stylesheet " type="text/css">
</head>

<body>
  <%= require('html-loader!./src/components/nm-header/nm-header.html') %>
  <%= require('html-loader!./src/components/nm-aboutus/nm-aboutus.html') %>
  <%= require('html-loader!./src/components/nm-menu/nm-menu.html') %>
  <%= require('html-loader!./src/components/nm-news/nm-news.html') %>
</body>

</html>
