<section id="menu" class="section-menu">
  <div class="menu__container container">
    <div class="menu__header row">
      <div class="menu__header-heading col-6">
        <h2 class="section__title">Menu</h2>
        <h3 class="section__subtitle">Odkryj nasze</h3>
      </div>
      <div class="menu__header-image col-11">
        <img src="../../assets/img/menu header.png" alt="Plate with sushi">
      </div>
    </div>
  </div>
  <div class="menu__container container">
    <div class="row">
      <div class="col-12">
        <div id="menu-swiper">
          <div class="swiper-container">
              <div class="hamburger__button hamburger__button-menu" role="button">
                  <span class="hamburger__bar hamburger__bar-menu--1"></span>
                  <span class="hamburger__bar hamburger__bar-menu--2"></span>
                  <span class="hamburger__bar hamburger__bar-menu--3"></span>
                </div>
            <div class="swiper-wrapper">
              
              <div class="swiper-slide swiper-slide-one">
                <div class="swiper__content">
                  <div class="swiper-slide--left ">
                    <h4 class="swiper__title">Nabemono</h4>
                    <p class="swiper__paragraph">
                      Potrawa kuchni japońskiej przyrządzana w naczyniu o nazwie hinabe ("ognistym kociołku"). Danie
                      gotuje się samemu poprzez zamaczanie wcześniej przygotowanych składników w specjalnym garnku z
                      wybranymi dipami lub bulionem. Je się ją wspólnie z jednego naczynia, ponieważ Japończycy wierzą,
                      że w ten sposób mogą zacieśnić więzi między sobą.
                      <br>
                      <br> W naszej restauracji serwujemy dwa rodzaje
                      nabe:<br>- sukiyaki: przyrządzane z pokrojonej na małe kawałki wołowiny lub wieprzowiny, tofu,
                      warzyw oraz makaronu.<br>- shabu-shabu: przyrządzane z wołowiny lub wieprzowiny pokrojonej na
                      bardzo cienkie kawałki oraz dodatków, jedzone z ponzu, sosem sezamowym albo sojowym.
                    </p>
                  </div>
                </div>
                <div class="swiper__image">
                  <div class="swiper-slide--right swiper__image--one ">
                    <div class="swiper__wrapper-dish">
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--soup">Dip</h5>
                        <ul class="swiper__list">
                          <li class="swiper__item">sojowy<span>5zł</span></li>
                          <li class="swiper__item">sezamowy<span>5zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--beef">Wołowina</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">łopatka<span>15zł</span></li>
                          <li class="swiper__item">udo<span>13zł</span></li>
                          <li class="swiper__item">język<span>20zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--pork">Wieprzowina</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">łopatka<span>15zł</span></li>
                          <li class="swiper__item">karkówka<span>15zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--vege">Warzywa</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">kiełki fasoli, grzyby mun<span>5zł</span></li>
                          <li class="swiper__item">marchewka, kiełki fasoli<span>5zł</span></li>
                          <li class="swiper__item">bambus, marchewksa<span>5zł</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-two">
                <div class="swiper__content">
                  <div class="swiper-slide--left ">
                    <h4 class="swiper__title">Ramen</h4>
                    <p class="swiper__content-dish">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti est modi repellendus, debitis,
                      incidunt eum atque vero veritatis earum dolore dolores dolorum pariatur in quod itaque ex
                      voluptatem a facere.
                    </p>
                  </div>
                </div>
                <div class="swiper__image">
                  <div class="swiper-slide--right swiper__image--two">
                    <div class="swiper__wrapper-dish">
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--soup">Makaron</h5>
                        <ul class="swiper__list">
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--bowl">Ramen</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">lorem ipsum<span>28zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>27zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>30zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--vege">Dodatki</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-three">
                <div class="swiper__content">
                  <div class="swiper-slide--left ">
                    <h4 class="swiper__title">Set</h4>
                    <p class="swiper__content-dish">
                      Viverra nibh cras pulvinar mattis nunc sed. Ipsum dolor sit amet consectetur. Pellentesque nec
                      nam aliquam sem. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ac tortor vitae
                      purus faucibus ornare suspendisse. Justo eget magna fermentum iaculis eu non diam. Semper auctor
                      neque vitae tempus quam pellentesque nec nam. Velit euismod in pellentesque massa placerat duis
                      ultricies lacus sed. Aliquam faucibus purus in massa tempor. In iaculis nunc sed augue lacus
                      viverra vitae congue.
                      <br>
                      Vel, laudantium. Cum doloribus dolor inventore quis odio ullam provident, nulla sequi voluptates
                      eligendi, eveniet praesentium esse quaerat ipsam veniam ut, possimus asperiores atque. Tenetur
                      dolorem pariatur earum quia obcaecati.
                    </p>
                  </div>
                </div>
                <div class="swiper__image">
                  <div class="swiper-slide--right swiper__image--three">
                    <div class="swiper__wrapper-dish">
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--soup">Przystawka</h5>
                        <ul class="swiper__list">
                          <li class="swiper__item">zupa miso<span>10zł</span></li>
                          <li class="swiper__item">sałata w sosie sezamowym<span>5zł</span></li>
                          <li class="swiper__item">onigiri (2 sztuki)<span>10zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--bowl">Zestaw</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">yakisoba + sałatka<span>25zł</span></li>
                          <li class="swiper__item">sakana, miska ryżu + sałatka<span>27zł</span></li>
                          <li class="swiper__item">gyoza (5 sztuk) + sałatka<span>15zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--vege">Sałatka</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                          <li class="swiper__item">lorem ipsum</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-four">
                <div class="swiper__content">
                  <div class="swiper-slide--left ">
                    <h4 class="swiper__title">Sushi</h4>
                    <p class="swiper__content-dish">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      <br>
                      Officia nam similique, quas distinctio iusto unde ducimus, voluptatibus suscipit blanditiis
                      doloribus doloremque impedit facere! Voluptates ipsam eum adipisci facere, aut fuga impedit nulla
                      tempora vitae earum quod quia culpa.
                    </p>
                  </div>
                </div>
                <div class="swiper__image">
                  <div class="swiper-slide--right swiper__image--four">
                    <div class="swiper__wrapper-dish">
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--soup">Rolls</h5>
                        <ul class="swiper__list">
                          <li class="swiper__item">lorem ipsum<span>8zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>8zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>12zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>13zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>17zł</span></li>

                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--bowl">Zestawy</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">lorem ipsum<span>28zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>27zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>30zł</span></li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-five">
                <div class="swiper__content">
                  <div class="swiper-slide--left ">
                    <h4 class="swiper__title">Mochi</h4>
                    <p class="swiper__content-dish">
                      Viverra nibh cras pulvinar mattis nunc sed. Ipsum dolor sit amet consectetur. Pellentesque nec
                      nam aliquam sem. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ac tortor vitae
                      purus faucibus ornare suspendisse. Justo eget magna fermentum iaculis eu non diam. Semper auctor
                      neque vitae tempus quam pellentesque nec nam. Velit euismod in pellentesque massa placerat duis
                      ultricies lacus sed. Aliquam faucibus purus in massa tempor. In iaculis nunc sed augue lacus
                      viverra vitae congue.
                      <br>
                      Voluptas minus officia, rerum laborum dolorem porro non fuga! Similique eos, eius unde optio illo
                      eligendi?Quia eius repellendus praesentium distinctio rem ipsam consequatur, autem est ipsa rerum
                      doloribus repudiandae dolore adipisci amet, minus nemo aliquam! Ipsam voluptatum vitae repellat
                      tempore optio nihil vero neque iure.
                    </p>
                  </div>
                </div>
                <div class="swiper__image">
                  <div class="swiper-slide--right swiper__image--five">
                    <div class="swiper__wrapper-dish">
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--soup">Mochi</h5>
                        <ul class="swiper__list">
                          <li class="swiper__item">lorem ipsum<span>8zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>8zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>12zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>13zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>15zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>17zł</span></li>
                        </ul>
                      </div>
                      <div class="swiper__wrapper-ingredients">
                        <h5 class="swiper__subtitle swiper__subtitle--bowl">Herbata</h5>
                        <ul class="swiper__list ">
                          <li class="swiper__item">lorem ipsum<span>28zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>27zł</span></li>
                          <li class="swiper__item">lorem ipsum<span>30zł</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>

          </div>
          <button class="btn swipper__button">Cennik</button>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>