.section-aboutus {
  width: 100%;
  padding: 0 0 4rem 0;
  background-color: $gray;
  margin-top: 6rem;
}

.aboutus__wrapper-text {
  margin-top: -6rem; //look at the section margin
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 0 2.5rem 13rem 2.5rem;
  

  > h2, h3 {
    text-align: right;
    padding: 0 5px;
  }
}

.aboutus__content {
  order: 2;
  line-height: 1.5;

  &--highlighted {
    border-bottom: 1px solid $red;
  }
}

.aboutus__image {
  position: relative;
  margin-top: -10.2rem;
  line-height: 0;

  > div {
    position: relative;
    z-index: 30;
    max-width: 30rem;
    margin: 0 auto;

    &::before, &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 45%;
      height: 45%;
      background-color: $red;
    }

    &::before {
      top: -0.5rem;
      left: -0.5rem;
    }

    &::after {
      bottom: -0.5rem;
      right: -0.5rem;
    }
  }
}

.aboutus__text-value {
  font-size: $font-size-md;
  opacity: 0.25;
  position: absolute;
  transform: translateX(-50%);
  z-index: 40;
  bottom: -1.5rem;
  left: 30%;
}