.header {
  color: $black;
  height: 100vh;

  &__wrapper {
    padding-top: 7rem;
    text-align: center;
  }

  &__logo {
    width: 60%;
  }

  &__title {
    font-family: $font-handwriting;
    font-weight: 400;
    font-size: $font-size-xs * 2;
    line-height: 1.2;
    margin: 0;
  }

  &__subtitle {
    font-family: $font-subtitle;
    font-size: $font-size-xs;
    line-height: 1.2;
    padding-bottom: 2rem;
  }

  &__slider {
    position: relative;
    height: 22rem;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @include circle(22rem);
    }
  }

  &__image {
    max-width: 22rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
  }
}



.header__menu {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: $white;
  // background-color: $black;
  transition: all .2s ease-in-out;
  will-change: auto;
}

.header__menu.scroll {
  box-shadow: 0 0 15px -5px rgba(37, 40, 42, .15);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;
  color: $white;
  font-size: $font-size-xs;
  font-family: $font-subtitle;
  text-transform: uppercase;
  height: 100%;
  transform: translateX(100%);

  &__list {
    display: flex;
    height: 60%;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    transform: translateX(50%);
    opacity: 0;
  }
}

.header__menu.menu--open {
  padding: 10px 20px;

  .menu__logo {
    display: none;
  }

  .nav {
    transition: all .2s ease-in-out;
    transform: translateX(0);
   

    &__item {
      transition: all .2s ease-in-out;
      transform: translateX(0);
      opacity: 1;
    }

    &__item:nth-child(1) {
      transition-delay: .4s;
    }

    &__item:nth-child(2) {
      transition-delay: .5s;
    }

    &__item:nth-child(3) {
      transition-delay: .6s;
    }

    &__item:nth-child(4) {
      transition-delay: .7s;
    }

    &__item:nth-child(5) {
      transition-delay: .8s;
    }
  }

  .hamburger__bar {
    position: absolute;
    z-index: 30;
    background-color: $white;
    transition: all 0.2s ease-in-out;

    &--1 {
      transform: translateY(9px) rotate(45deg);
    }

    &--2 {
      opacity: 0;
    }

    &--3 {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.menu__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include circle(4rem);
  }

  &>img {
    height: 40%;
  }
}

//MENU BUTTON
.hamburger__button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: relative;
  margin: 0 0 0 auto;
}

.hamburger__bar {
  display: block;
  position: absolute;
  height: .3rem;
  width: 100%;
  background-color: $black;

  left: -2px;
  top: 0;

  &--1 {
    top: .5rem;
  }

  &--2 {
    top: 1.5rem;
  }

  &--3 {
    top: 2.4rem;
  }
}

//
