<header class="header container">
  <div class="header__menu">
    <a class="menu__logo" href="#"><img src="../../assets/img/logo.png" alt="Logo Nami"></a>
    <div class="hamburger__button" role="button" aria-expanded="false">
      <span class="hamburger__bar hamburger__bar--1"></span>
      <span class="hamburger__bar hamburger__bar--2"></span>
      <span class="hamburger__bar hamburger__bar--3"></span>
    </div>
    <nav class="nav">
      <ul class="nav__list" tabindex="-1" aria-label="main navigation">
        <li class="nav__list__item"><a href="#">Strona główna</a></li>
        <li class="nav__list__item"><a href="#">O nas</a></li>
        <li class="nav__list__item"><a href="#">Menu</a></li>
        <li class="nav__list__item"><a href="#">Newsy</a></li>
        <li class="nav__list__item"><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="header__heading col-12  col-lg-6 offset-lg-0">
      <img class="header__logo" src="../../assets/img/logo.png" alt="Logo Nami - japanese version">
      <h1 class="header__title">japońska restauracja</h1>
      <p class="header__subtitle">z Nami poczujesz się jak w Japonii</p>
    </div>
    <div class="header__slider col-12 col-lg-6 offset-lg-0">
      <div class="swiper__image">
        <img src="../../assets/img/KV-fish.png" alt="First dish - raw fish with special spices and vegetables">
      </div>
    </div>
  </div>
</header>