//font-family
$font-title: "PlayfairDisplay";
$font-subtitle: "Montserrat";
$font-content: "Raleway";
$font-handwriting: "Kaushan Script";

//font-sizes
$font-size-xs: 1.4rem;
$font-size-sm: 2rem;
$font-size-md: 4.4rem;
$font-size-lg: 6rem;
$font-size-xl: 15rem;

//colors
$black: #1e1e1e;
$white: #fff;
$red: #ff003c;
$gray: #E7E4E4;
