//font-family
$font-title: 'Playfair Display', serif;
$font-subtitle: 'Montserrat', sans-serif;
$font-content: 'Raleway', sans-serif;
$font-handwriting: 'Kaushan Script', cursive;

//font-sizes
$font-size-xs: 1.4rem;
$font-size-sm: 2rem;
$font-size-md: 4.4rem;
$font-size-lg: 6rem;
$font-size-xl: 15rem;

//colors
$black: #1e1e1e;
$white: #fff;
$red: #ff003c;
$gray: #f7f7f7;
