@font-face {
  font-family: "Kaushan Script";
  src: url(./fonts/Kaushan_Script/KaushanScript-Regular.ttf);
};

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrao/Montserrat-Regular.ttf);
};

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
};

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway/Raleway-Regular.ttf);
};