@import "node_modules/bootstrap-4-grid/scss/grid";
@import "./variables.scss";
@import "./mixins.scss";
@import "./components/nm-header/nm-header.scss";


// html, body,h1, h2, h3, h4, h5, h6, p, ul, a, figure, figcaption, footer, header, menu, nav {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// }
* {
  box-sizing: border-box;
}


// html, body {
//   height: 100%;
// }
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html.no-scroll {
  overflow-y: hidden;
}

body {
  font-family: $font-content;
  font-size: 16px; //fallback
  font-size: $font-size-xs;
  color: $white;
  line-height: 28px;
}

ul, li {
  text-decoration: none;
  list-style:none;
  outline-color: transparent;
}

a, a:hover,
a:active,
a:visited,
a:link {
  list-style-type: unset;
  text-decoration: unset;
  outline-color: transparent;
  color: inherit;
}

img {
  max-width: 100%;
  align-self: center;
}

.row {
  position: relative;
}

