@import "node_modules/bootstrap-4-grid/scss/grid";
@import "./variables.scss";
@import "./mixins.scss";
@import "./components/nm-header/nm-header.scss";
@import "./components/nm-aboutus/nm-aboutus.scss";
@import "./components/nm-menu/nm-menu.scss";



// html, body,h1, h2, h3, h4, h5, h6, p, ul, a, figure, figcaption, footer, header, menu, nav {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// }
* {
  box-sizing: border-box;
}


// html, body {
//   height: 100%;
//   max-width: 100%;
// }
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

html.no-scroll {
  overflow-y: hidden;
}

body {
  font-family: $font-content;
  font-size: 12px; //fallback
  font-size: 1.2rem;
  color: $white;
  line-height: 28px;
  overflow-x: hidden;
  height: 100%;
}

ul, li {
  text-decoration: none;
  list-style:none;
  outline-color: transparent;
}

a, a:hover,
a:active,
a:visited,
a:link {
  list-style-type: unset;
  text-decoration: unset;
  outline-color: transparent;
  color: inherit;
}

img {
  max-width: 100%;
  align-self: center;
}

.row {
  position: relative;
}

.section__title {
  font-family: $font-title;
  font-weight: 400;
  color: $white;
  font-size: $font-size-md;
  order: 1;
  margin: -1rem 0 2rem 0;

  &--red {
    color: $red;
  }
}

.section__subtitle {
  font-family: $font-subtitle;
  font-weight: 400;
  color: $black;
  font-size: $font-size-sm /2 ;
  text-transform: uppercase;
  order: 0;

  &--white {
    color: $white;
  }
}

.text-value {
  font-family: $font-handwriting;
  color: $black;
}

@include media-breakpoint-up(lg) {
  html {
    overflow-x: unset;
  }

  .section__title {
    font-size: $font-size-xl;
  }
  
  .section__subtitle {
    font-size: $font-size-lg /2;
  }
  
  .text-value {
    font-size: $font-size-xl;
  }
}
